{% extends "app/layout.html" %}

{% block content %}

<div class="panel">
    <div class="panel-body">
        <div class="col-md-12" style="text-align: center">
            <h2>Daftar File Tersimpan</h2>
        </div>

        {% if saved != None %}
            {% if saved %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Data berhasil disimpan</strong>
                </div>
            </div>
            {% endif %}
        
            {% if not saved %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Data gagal disimpan</strong>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if hapus != None %}
            {% if hapus %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Data berhasil dihapus</strong>
                </div>
            </div>
            {% endif %}

            {% if not hapus %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Data masih digunakan tidak dapat dihapus</strong>
                </div>
            </div>
            {% endif %}
        {% endif %}



        <div class="col-md-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Data Training</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in filetesting %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.datatesting }}</td>
                            <td>
                                <button class="btn btn-info" onclick="window.location.href = '{% url 'testing' %}?datatesting={{ data.id }}'" type="button">Klasifikasi</button>
                                <button class="btn btn-danger" onclick="window.location.href = '{% url 'hapustesting' %}?datatesting={{ data.id }}'" type="button">Hapus</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <button type="button" class="btn btn-danger" onclick="window.location.href = '{% url 'hapussemuatesting' %}'">Hapus Semua</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').dataTable()
        })
    </script>
{% endblock %}