{% extends "app/layout.html" %}

{% block content %}

<div class="panel">
    <div class="panel-body">
        <div class="col-md-12" style="text-align: center">
            <h2>Feature List </h2>
        </div>

        {% if saved != None %}
            {% if saved %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Data berhasil disimpan</strong>
                </div>
            </div>
            {% endif %}
        
            {% if not saved %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Data gagal disimpan</strong>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if hapus != None %}
            {% if hapus %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Data berhasil dihapus</strong>
                </div>
            </div>
            {% endif %}

            {% if not hapus %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Data masih digunakan tidak dapat dihapus</strong>
                </div>
            </div>
            {% endif %}
        {% endif %}


        <div class="col-md-12">
            <Strong><h4>Upload Feature List</h4></Strong>
            
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data" action="{% url 'feature'%}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" name="featurefile" id="featurefile" accept=".txt, .csv">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <h4>Daftar Data Feature : </h4>
        </div>


        <div class="col-md-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Data Training</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in gambars %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.FeatureList }}</td>
                            <td>
                                <button class="btn btn-info" onclick="window.location.href = '{% url 'pilihfeature' %}?datafeature={{ data.FeatureList }}'" type="button">Pilih</button>
                                <button class="btn btn-danger" onclick="window.location.href = '{% url 'hapusfeature' %}?datafeature={{ data.FeatureList }}'" type="button">Hapus</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            Feature List yang terpilih sekarang : {{ datatrain.0.id }} - {{ datatrain.0.valuedata }}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').dataTable()
        })
    </script>
{% endblock %}