{% extends "app/layout.html" %}

{% block content %}
<div class="panel">
    <div class="panel-body">
        <div class="col-md-12" style="text-align: center">
            <h2>Stopwords</h2>
        </div>

        
        {% if saved != None %}
            {% if saved %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Data berhasil disimpan</strong>
                </div>
            </div>
            {% endif %}
        
            {% if not saved %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Data gagal disimpan</strong>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if hapus != None %}
            {% if hapus %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Data berhasil dihapus</strong>
                </div>
            </div>
            {% endif %}

            {% if not hapus %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Data masih digunakan tidak dapat dihapus</strong>
                </div>
            </div>
            {% endif %}
        {% endif %}

      
        <div class="col-md-12">
            <strong>
                <h4>
                Upload stopwords :
                </h4>
            </strong>
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data" action="{% url 'uploadstopwords' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="stopword">File input</label>
                        <input type="file" name="stopword" id="stopword" accept=".txt">
                    </div>
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
        </div>

       

        <div class="col-md-12">
            <h4>Daftar Data Stopwords : </h4>
        </div>

        <div class="col-md-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Data Training</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in stopwords %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.stopwords }}</td>
                            <td>
                                <button class="btn btn-info" onclick="window.location.href = '{% url 'pilihstopwords' %}?stopwords={{ data.id }}'" type="button">Pilih</button>
                                <button class="btn btn-danger" onclick="window.location.href = '{% url 'hapusstopwords' %}?stopwords={{ data.id }}'" type="button">Hapus</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            Feature list sekarang : {{ datatrain.0.id }} - {{ datatrain.0.stopwords }}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').dataTable()
        })
    </script>
{% endblock %}