{% extends "app/layout.html" %}

{% block content %}
<div class="panel">
    <div class="panel-body">
        <div class="col-md-12" style="text-align: center">
            <h2>Model Training </h2>
        </div>

        
        {% if saved != None %}
            {% if saved %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Data berhasil disimpan</strong>
                </div>
            </div>
            {% endif %}
        
            {% if not saved %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Data gagal disimpan</strong>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if hapus != None %}
            {% if hapus %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Data berhasil dihapus</strong>
                </div>
            </div>
            {% endif %}

            {% if not hapus %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Data masih digunakan tidak dapat dihapus</strong>
                </div>
            </div>
            {% endif %}
        {% endif %}

      
        <div class="col-md-12">
            <strong><h4>Upload Model Training :</h4></strong>
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data" action="{% url 'uploaddatatraining'%}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" name="datatraining" id="exampleInputFile" accept=".pkl">
                    </div>
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>

        </div>

    
        <div class="col-md-12">
            <h4>Daftar Data Training : </h4>
        </div>

        <div class="col-md-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Data Training</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in modeltraining %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.datatraining }}</td>
                            <td>
                                <button class="btn btn-info" onclick="window.location.href = '{% url 'pilihdatatraining' %}?datatrain={{ data.id }}'" type="button">Pilih</button>
                                <button class="btn btn-danger" onclick="window.location.href = '{% url 'hapusdatatraining' %}?datatrain={{ data.id }}'" type="button">Hapus</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            Feature list sekarang : {{ datatrain.0.id }} - {{ datatrain.0.datatraining }}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').dataTable()
        })
    </script>
{% endblock %}