{% extends "app/layout.html" %}

{% block content %}

<h1>Upload Data </h1>

<div class="panel">
    <div class="panel-body">

        <div class="col-md-12">
            Feature list sekarang : {{ datatrain.0.id }} - {{ datatrain.0.valuedata }}
        </div>

        <div class="col-md-12">
            Upload feature list :
        </div>

        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" action="{% url 'uploaddatatraining'%}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" name="datatraining" id="exampleInputFile">
                </div>
                <button type="submit" class="btn btn-success">Upload</button>
            </form>
        </div>

        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Data Training</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in gambars %}
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.datatraining }}</td>
                            <td>
                                <button class="btn btn-info" onclick="window.location.href = '{% url 'pilihdatatraining' %}?datatrain={{ data.datatraining }}'" type="button">Pilih</button>
                                <button class="btn btn-danger" onclick="window.location.href = '{% url 'hapusdatatraining' %}?datatrain={{ data.datatraining }}'" type="button">Hapus</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        {% if saved %}
        <strong>Your profile was saved.</strong>
        {% endif %}
      
        {% if not saved %}
        <strong>Your profile was not saved.</strong>
        {% endif %}

        {% if not hapus %}
        <strong>Data masih digunakan tidak dapat dihapus</strong>
        {% endif %}

        <div class="col-md-12">
            Apabila belum, dapat didownload pada :
        </div>
    </div>
</div>

{% endblock %}